extends base
block content
    .title
        h2.landingHeading(style="text-align: center; margin-top:2rem;") Our Top 5 Cheapest tours
    .slider
        each tour in response
            .mySlides.fade
                img(src=`/img/tours/${tour.imageCover}`)
                .text
                    a.slider-text(href=`/tour/${tour.slug}`) #{tour.name}
    .sliderBtn
        a.prev &#x276E;
        a.next &#x276F;  
    .stats 
        h2.landingHeading(style="text-align: center; margin-top:2rem;") Stats For year 2023
        div(style='width: 800px;')
            canvas#chart

    
    